In [2]:
#Clone the github repository (Once public)
!git clone https://github.com/qahtanaa/ADS_Theses_Projects_2022/tree/main/Ouassim

Cloning into 'TGAIN'...
remote: Enumerating objects: 243, done.
remote: Counting objects: 100% (154/154), done.
remote: Compressing objects: 100% (102/102), done.
remote: Total 243 (delta 81), reused 103 (delta 51), pack-reused 89
Receiving objects: 100% (243/243), 2.07 MiB | 4.61 MiB/s, done.
Resolving deltas: 100% (115/115), done.

In [13]:
#libaries
import sdv
from tabularGAIN import data_imputation_completer
from UtilFunctions import  evaluate_imputations
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

# Testing on German dataset

In [15]:
#First, save your raw data set that needs to be imputed
german_data = pd.read_csv("/content/TGAIN/rawData/german/german_data_preprocessed.csv", sep = ',')
german_data = german_data.drop(columns=['Unnamed: 0'])
german_data.head(5)

,Status_existing_account,Month,Credit_history,Purpose,Credit_amount,Savings,Employment_since_years,Installment_rate_percentage,Gender_and_relationship_status,Other_debtors,...,Property,Age,Other_installment_plans,Housing,Number_of_existing_credits,Job,Number_of_liable_people,Registered_telephone,Foreign_worker,Credit_accepted
0,0<=x<200,48,credits_paid_till_now,radio/television,5951,x<100,1<=x<4,2,female_divorced,none,...,real_estate,22,none,own,1,employee,1,0,1,0
1,NaN,12,critical_account,education,2096,x<100,4<=x<7,2,male_single,none,...,real_estate,49,none,own,1,unemployed_resident,2,0,1,1
2,x<0,42,credits_paid_till_now,furniture/equipment,7882,x<100,4<=x<7,2,male_single,guarantor,...,building_society,45,none,free,1,employee,2,0,1,1
3,x<0,24,delay_in_earlier_payments,car_new,4870,x<100,1<=x<4,3,male_single,none,...,NaN,53,none,free,2,employee,2,0,1,0
4,NaN,36,credits_paid_till_now,education,9055,NaN,1<=x<4,2,male_single,none,...,NaN,35,none,free,1,unemployed_resident,2,1,1,1

In [16]:
#Split into a train- and test set
complete_rows_german = german_data.dropna() #432 complete rows
complete_rows_german = shuffle(complete_rows_german, random_state=0)
test_set_complete = complete_rows_german[:50] #50 test rows
train_set = complete_rows_german[50:] #382 training rows


#Create a mask and randomly remove 30% of the test set 
data_m = np.random.random(test_set_complete.shape) < 0.3 #30% missing data
test_set_to_impute = test_set_complete.mask(data_m) #test set with roughly 30% randomly missing values

total_df_german = pd.concat([train_set, test_set_to_impute], ignore_index=True, sort=False)

In [18]:
#Start imputing using the provided framework
completed_df = data_imputation_completer(total_df_german, nr_epochs=300, distinct_ratio_threshold=0.01, generator_lr=0.0002, discriminator_lr=0.0002, verbose = False)

dataframe has been normalized...

Training GAN Model 1:

Training GAN Model 2:

Training GAN model 3:

Imputing missing values Model 1...

Sampling conditions:   2%|▏         | 1/50 [00:11<09:22, 11.47s/it]
Sampling conditions:  18%|█▊        | 9/50 [00:08<00:37,  1.09it/s]
Sampling conditions:  48%|████▊     | 24/50 [00:08<00:08,  2.90it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  7.37it/s]
Sampling conditions:  34%|███▍      | 17/50 [00:08<00:16,  2.05it/s]
Sampling conditions:  76%|███████▌  | 38/50 [00:08<00:02,  4.56it/s]
Sampling conditions:  16%|█▌        | 8/50 [00:08<00:43,  1.04s/it]
Sampling conditions:  50%|█████     | 25/50 [00:08<00:08,  3.04it/s]
Sampling conditions:  14%|█▍        | 7/50 [00:08<00:51,  1.19s/it]
Sampling conditions:  38%|███▊      | 19/50 [00:08<00:13,  2.30it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   2%|▏         | 1/50 [00:07<06:28,  7.93s/it]
Sampling conditions:  14%|█▍        | 7/50 [00:08<00:53,  1.24s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 72.27it/s]
Sampling conditions:  86%|████████▌ | 43/50 [00:08<00:01,  5.04it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  7.86it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   4%|▍         | 2/50 [00:07<03:11,  3.98s/it]
Sampling conditions:  32%|███▏      | 16/50 [00:08<00:18,  1.88it/s]
Sampling conditions:  38%|███▊      | 19/50 [00:08<00:13,  2.35it/s]
Sampling conditions:  26%|██▌       | 13/50 [00:08<00:23,  1.60it/s]
Sampling conditions:  50%|█████     | 25/50 [00:08<00:08,  2.94it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 12.13it/s]
Sampling conditions:  28%|██▊       | 14/50 [00:08<00:21,  1.69it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 131.02it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 293.71it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   2%|▏         | 1/50 [00:08<06:37,  8.12s/it]
Sampling conditions:   4%|▍         | 2/50 [00:08<03:15,  4.08s/it]
Sampling conditions:   6%|▌         | 3/50 [00:08<02:07,  2.71s/it]
Sampling conditions:  94%|█████████▍| 47/50 [00:08<00:00,  5.58it/s]
Sampling conditions:  78%|███████▊  | 39/50 [00:08<00:02,  4.60it/s]
Sampling conditions:  98%|█████████▊| 49/50 [00:09<00:00,  5.25it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 142.03it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 12.25it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 96.50it/s]
Sampling conditions:   4%|▍         | 2/50 [00:08<03:13,  4.03s/it]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 36.66it/s]
Sampling conditions: 100%|██████████| 50/50 [00:03<00:00, 16.56it/s]
Sampling conditions:  40%|████      | 20/50 [00:08<00:12,  2.35it/s]
Sampling conditions:   8%|▊         | 4/50 [00:08<01:36,  2.09s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 56.60it/s]
Sampling conditions:  24%|██▍       | 12/50 [00:08<00:25,  1.46it/s]
Sampling conditions: 100%|██████████| 50/50 [00:05<00:00,  9.81it/s]
Sampling conditions:  42%|████▏     | 21/50 [00:08<00:11,  2.48it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  8.23it/s]
Sampling conditions:  46%|████▌     | 23/50 [00:08<00:09,  2.72it/s]
Sampling conditions: 100%|██████████| 50/50 [00:07<00:00,  6.80it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 72.27it/s]
Sampling conditions: 100%|██████████| 50/50 [00:03<00:00, 12.62it/s]
Sampling conditions:  72%|███████▏  | 36/50 [00:08<00:03,  4.32it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 11.17it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 66.53it/s]

Imputing missing values Model 2...

Sampling conditions:  14%|█▍        | 7/50 [00:08<00:50,  1.18s/it]
Sampling conditions:  54%|█████▍    | 27/50 [00:08<00:07,  3.20it/s]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 18.10it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  8.30it/s]
Sampling conditions:  18%|█▊        | 9/50 [00:08<00:37,  1.09it/s]
Sampling conditions:  72%|███████▏  | 36/50 [00:08<00:03,  4.30it/s]
Sampling conditions:  20%|██        | 10/50 [00:08<00:32,  1.24it/s]
Sampling conditions: 100%|██████████| 50/50 [00:07<00:00,  6.30it/s]
Sampling conditions:  12%|█▏        | 6/50 [00:08<01:01,  1.39s/it]
Sampling conditions:  52%|█████▏    | 26/50 [00:08<00:07,  3.09it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:  12%|█▏        | 6/50 [00:08<00:59,  1.36s/it]
Sampling conditions:  12%|█▏        | 6/50 [00:08<01:01,  1.39s/it]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 39.65it/s]
Sampling conditions: 100%|██████████| 50/50 [00:07<00:00,  6.94it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 12.18it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   2%|▏         | 1/50 [00:08<06:35,  8.07s/it]
Sampling conditions:  28%|██▊       | 14/50 [00:08<00:20,  1.72it/s]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 22.44it/s]
Sampling conditions:   6%|▌         | 3/50 [00:07<02:03,  2.62s/it]
Sampling conditions:  60%|██████    | 30/50 [00:08<00:05,  3.64it/s]
Sampling conditions: 100%|██████████| 50/50 [00:03<00:00, 14.80it/s]
Sampling conditions:  50%|█████     | 25/50 [00:08<00:08,  3.07it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 138.14it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:  26%|██▌       | 13/50 [00:08<00:22,  1.62it/s]
Sampling conditions:   6%|▌         | 3/50 [00:08<02:11,  2.79s/it]
Sampling conditions:  10%|█         | 5/50 [00:08<01:15,  1.69s/it]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   2%|▏         | 1/50 [00:07<06:27,  7.90s/it]
Sampling conditions: 100%|██████████| 50/50 [00:03<00:00, 15.04it/s]
Sampling conditions:  66%|██████▌   | 33/50 [00:08<00:04,  4.08it/s]
Sampling conditions:  50%|█████     | 25/50 [00:08<00:08,  3.01it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 144.49it/s]
Sampling conditions:  76%|███████▌  | 38/50 [00:08<00:02,  4.68it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 96.25it/s]
Sampling conditions:   8%|▊         | 4/50 [00:07<01:30,  1.97s/it]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 37.44it/s]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 16.77it/s]
Sampling conditions:  52%|█████▏    | 26/50 [00:08<00:07,  3.16it/s]
Sampling conditions:  10%|█         | 5/50 [00:08<01:12,  1.62s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 128.84it/s]
Sampling conditions:   6%|▌         | 3/50 [00:07<02:04,  2.64s/it]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 22.93it/s]
Sampling conditions: 100%|██████████| 50/50 [00:08<00:00,  6.23it/s]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 29.53it/s]
Sampling conditions:  42%|████▏     | 21/50 [00:08<00:11,  2.60it/s]
Sampling conditions:  22%|██▏       | 11/50 [00:08<00:28,  1.37it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 74.50it/s]
Sampling conditions: 100%|██████████| 50/50 [00:05<00:00,  8.80it/s]
Sampling conditions:  48%|████▊     | 24/50 [00:08<00:09,  2.87it/s]
Sampling conditions:  50%|█████     | 25/50 [00:08<00:08,  2.99it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 93.96it/s]

Imputing missing values Model 3...

Sampling conditions:  42%|████▏     | 21/50 [00:08<00:11,  2.59it/s]
Sampling conditions:  26%|██▌       | 13/50 [00:08<00:23,  1.58it/s]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 19.47it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  7.22it/s]
Sampling conditions:   2%|▏         | 1/50 [00:08<06:35,  8.08s/it]
Sampling conditions:  46%|████▌     | 23/50 [00:08<00:09,  2.77it/s]
Sampling conditions:   8%|▊         | 4/50 [00:08<01:33,  2.03s/it]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  7.91it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 10.10it/s]
Sampling conditions: 100%|██████████| 50/50 [00:08<00:00,  5.86it/s]
Sampling conditions:   2%|▏         | 1/50 [00:08<06:38,  8.13s/it]
Sampling conditions:  76%|███████▌  | 38/50 [00:08<00:02,  4.43it/s]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 33.37it/s]
Sampling conditions:  30%|███       | 15/50 [00:08<00:19,  1.82it/s]
Sampling conditions: 100%|██████████| 50/50 [00:04<00:00, 10.11it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:  20%|██        | 10/50 [00:08<00:32,  1.21it/s]
Sampling conditions:  22%|██▏       | 11/50 [00:08<00:29,  1.33it/s]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 28.57it/s]
Sampling conditions:   8%|▊         | 4/50 [00:08<01:32,  2.02s/it]
Sampling conditions:  76%|███████▌  | 38/50 [00:08<00:02,  4.37it/s]
Sampling conditions:  64%|██████▍   | 32/50 [00:08<00:04,  3.82it/s]
Sampling conditions:  14%|█▍        | 7/50 [00:08<00:51,  1.19s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 137.78it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:08<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions:   0%|          | 0/50 [00:07<?, ?it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 286.87it/s]
Sampling conditions:  38%|███▊      | 19/50 [00:08<00:13,  2.25it/s]
Sampling conditions:   2%|▏         | 1/50 [00:08<06:46,  8.31s/it]
Sampling conditions:  12%|█▏        | 6/50 [00:08<00:59,  1.34s/it]
Sampling conditions: 100%|██████████| 50/50 [00:08<00:00,  6.05it/s]
Sampling conditions: 100%|██████████| 50/50 [00:06<00:00,  8.02it/s]
Sampling conditions:  46%|████▌     | 23/50 [00:08<00:09,  2.76it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 139.73it/s]
Sampling conditions:  36%|███▌      | 18/50 [00:08<00:14,  2.22it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 71.93it/s]
Sampling conditions:  26%|██▌       | 13/50 [00:08<00:23,  1.59it/s]
Sampling conditions: 100%|██████████| 50/50 [00:05<00:00,  9.01it/s]
Sampling conditions: 100%|██████████| 50/50 [00:02<00:00, 18.63it/s]
Sampling conditions:  80%|████████  | 40/50 [00:08<00:02,  4.70it/s]
Sampling conditions:  10%|█         | 5/50 [00:08<01:14,  1.65s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 141.31it/s]
Sampling conditions:   4%|▍         | 2/50 [00:08<03:20,  4.18s/it]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 41.55it/s]
Sampling conditions:  24%|██▍       | 12/50 [00:08<00:26,  1.45it/s]
Sampling conditions: 100%|██████████| 50/50 [00:01<00:00, 36.94it/s]
Sampling conditions:  14%|█▍        | 7/50 [00:08<00:50,  1.17s/it]
Sampling conditions:  62%|██████▏   | 31/50 [00:08<00:05,  3.69it/s]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 96.04it/s]
Sampling conditions: 100%|██████████| 50/50 [00:05<00:00,  8.41it/s]
Sampling conditions:  26%|██▌       | 13/50 [00:08<00:23,  1.56it/s]
Sampling conditions:  14%|█▍        | 7/50 [00:08<00:52,  1.21s/it]
Sampling conditions: 100%|██████████| 50/50 [00:00<00:00, 90.83it/s]

Evaluating candidate imputations:

(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.6092264076462826 M2:  0.5199462288293548 M3:  0.2307220719648198
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.2814902599917968 M2:  0.3958979728033418 M3:  0.37627615342184106
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.26741556600328453 M2:  0.03364118979168823 M3:  0.1372790783681124
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  0.06755174735155287 M2:  0.46907890146141223 M3:  0.07748272892066763
(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.10766872098915153 M2:  0.09893736270867165 M3:  0.36171019833729623
(Candidate values) M1:  3.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.1637325796534761 M2:  0.6482654494803191 M3:  0.1684188267572561
(Candidate values) M1:  0.0 M2:  6.0 M3:  8.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  8.0 M2:  2.0 M3:  8.0
(Candidate values) M1:  0.27517061937738163 M2:  0.038721981180775265 M3:  0.02139875087533058
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.19037122400522155 M2:  0.34217453937668757 M3:  0.3858059934472794
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  6.0 M2:  7.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.5426652356490753 M2:  0.026855119540700967 M3:  0.21963224358943556
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  3.0 M2:  2.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  4.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  3.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  7.0 M2:  6.0 M3:  6.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  6.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  0.3181000825676513 M2:  0.033617318524743936 M3:  0.14765095109283444
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  3.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  2.0
(Candidate values) M1:  0.11570050856576367 M2:  0.00035114975575945007 M3:  0.5285164624332109
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  0.08408654281619048 M2:  0.0 M3:  0.6919486958688753
(Candidate values) M1:  0.08510937708117876 M2:  0.12564212815405254 M3:  0.15069440363049047
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  3.0 M3:  2.0
(Candidate values) M1:  5.0 M2:  6.0 M3:  5.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.1367352532660085 M2:  0.31486108916035094 M3:  0.17219659688654163
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.3903579687851125 M2:  0.09839598319776185 M3:  0.35728438431038834
(Candidate values) M1:  2.0 M2:  2.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.11971546996698482 M2:  0.09498451667199032 M3:  0.03573640606217858
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  4.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  7.0 M2:  7.0 M3:  0.0
(Candidate values) M1:  0.2552865507493593 M2:  0.21183151849313286 M3:  0.07232271777320766
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.12824793014597666 M2:  0.18412805441549854 M3:  0.14717691770948305
(Candidate values) M1:  1.0 M2:  4.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  4.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  0.012521930740750253 M2:  0.07942378229034652 M3:  0.354498109477662
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.1099680048471037 M2:  0.008578087745532557 M3:  0.3288214342874234
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.2051521810202716 M2:  0.8205343362504727 M3:  0.3129927598892083
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  3.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.183310224541581 M2:  0.5333476414752107 M3:  0.025967854590449414
(Candidate values) M1:  3.0 M2:  0.0 M3:  4.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  0.06654083677516065 M2:  0.5686290058028941 M3:  0.26368429600140664
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  0.02205897084463518 M2:  0.5690158990329957 M3:  0.3520903967282936
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  6.0 M2:  8.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  6.0 M3:  6.0
(Candidate values) M1:  3.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.7448265573115526 M2:  0.2309671636311027 M3:  0.23392439827489023
(Candidate values) M1:  3.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.5284753329650118 M2:  1.0 M3:  0.06778214985814754
(Candidate values) M1:  0.0 M2:  2.0 M3:  3.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  0.06250263290120489 M3:  0.26786462001222155
(Candidate values) M1:  1.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  6.0 M3:  6.0
(Candidate values) M1:  3.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.44891103402549054 M2:  0.4747121075201592 M3:  0.5582789588508869
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.8909090909090909 M3:  0.16001988195243116
(Candidate values) M1:  0.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  3.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  3.0
(Candidate values) M1:  0.13199509413663474 M2:  0.16302300126639258 M3:  0.1773928272904483
(Candidate values) M1:  0.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  2.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.23043396843081904 M2:  0.76820176547058 M3:  0.8653525515226357
(Candidate values) M1:  0.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  3.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  8.0 M2:  6.0 M3:  9.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  0.7500967651294622 M2:  0.7518515084062868 M3:  0.7352645700787881
(Candidate values) M1:  0.0 M2:  6.0 M3:  8.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  0.23870803017923234 M2:  0.2504080345682126 M3:  0.004259301345082636
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.10883017192229863 M2:  0.19094895611271556 M3:  0.07672129778207067
(Candidate values) M1:  1.0 M2:  2.0 M3:  3.0
(Candidate values) M1:  0.03285595110125385 M2:  0.23342660884465188 M3:  0.23592907388417905
(Candidate values) M1:  2.0 M2:  1.0 M3:  2.0
(Candidate values) M1:  6.0 M2:  2.0 M3:  7.0
(Candidate values) M1:  0.15090104995815634 M2:  0.020350789666124698 M3:  0.04868019335578195
(Candidate values) M1:  3.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  2.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  1.0
(Candidate values) M1:  0.19108009411116067 M2:  0.08169227190194114 M3:  0.21324105027191598
(Candidate values) M1:  3.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  0.0690943953371859 M2:  0.8909090909090909 M3:  0.4167390987959782
(Candidate values) M1:  2.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  0.0 M2:  3.0 M3:  0.0
(Candidate values) M1:  0.08989453607905362 M2:  0.021107658409394825 M3:  0.0
(Candidate values) M1:  3.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  1.0 M2:  3.0 M3:  3.0
(Candidate values) M1:  1.0 M2:  1.0 M3:  1.0
(Candidate values) M1:  1.0 M2:  2.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
(Candidate values) M1:  0.0 M2:  0.0 M3:  2.0
(Candidate values) M1:  1.0 M2:  0.0 M3:  0.0
Denormalizing dataset...

In [21]:
#Before imputation
test_set_to_impute

,Status_existing_account,Month,Credit_history,Purpose,Credit_amount,Savings,Employment_since_years,Installment_rate_percentage,Gender_and_relationship_status,Other_debtors,...,Property,Age,Other_installment_plans,Housing,Number_of_existing_credits,Job,Number_of_liable_people,Registered_telephone,Foreign_worker,Credit_accepted
354,0<=x<200,24.0,credits_paid_till_now,car_new,1246.0,x<100,x<1,4.0,male_single,none,...,real_estate,23.0,stores,NaN,NaN,unemployed_resident,1.0,0.0,1.0,NaN
910,0<=x<200,NaN,critical_account,furniture/equipment,4736.0,NaN,NaN,2.0,NaN,none,...,car_or_other,25.0,bank,own,1.0,unemployed_resident,NaN,0.0,1.0,NaN
113,x<0,12.0,credits_paid_till_now,radio/television,1680.0,NaN,x>=7,NaN,NaN,none,...,real_estate,35.0,NaN,own,NaN,employee,NaN,0.0,1.0,1.0
477,NaN,NaN,NaN,business,NaN,NaN,4<=x<7,3.0,NaN,none,...,real_estate,NaN,none,NaN,1.0,unemployed_resident,1.0,0.0,NaN,NaN
20,x<0,NaN,NaN,radio/television,2647.0,NaN,1<=x<4,2.0,male_single,NaN,...,NaN,NaN,none,rent,1.0,employee,2.0,0.0,1.0,1.0
352,x<0,12.0,None,NaN,6199.0,x<100,1<=x<4,4.0,NaN,none,...,NaN,28.0,NaN,rent,2.0,employee,1.0,NaN,1.0,0.0
808,0<=x<200,15.0,NaN,NaN,NaN,x<100,NaN,2.0,female_divorced,NaN,...,real_estate,NaN,none,rent,NaN,NaN,1.0,0.0,NaN,0.0
215,x<0,18.0,NaN,business,3104.0,x<100,4<=x<7,3.0,male_single,NaN,...,NaN,31.0,bank,NaN,1.0,NaN,1.0,1.0,NaN,1.0
232,0<=x<200,18.0,credits_paid_till_now,radio/television,866.0,x<100,1<=x<4,4.0,NaN,guarantor,...,real_estate,25.0,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
363,NaN,18.0,NaN,NaN,2473.0,x<100,NaN,4.0,male_single,none,...,car_or_other,NaN,none,NaN,1.0,unemployed_non-resident,1.0,0.0,1.0,0.0
36,x>200,18.0,NaN,radio/television,2100.0,NaN,NaN,4.0,male_single,NaN,...,real_estate,37.0,stores,own,1.0,employee,1.0,0.0,NaN,NaN
731,0<=x<200,8.0,NaN,NaN,760.0,x<100,4<=x<7,4.0,NaN,guarantor,...,real_estate,44.0,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
729,0<=x<200,24.0,delay_in_earlier_payments,NaN,NaN,NaN,x<1,NaN,male_single,NaN,...,car_or_other,33.0,none,own,NaN,NaN,1.0,0.0,1.0,1.0
544,x<0,24.0,delay_in_earlier_payments,car_new,1333.0,x<100,NaN,NaN,NaN,none,...,real_estate,43.0,none,NaN,NaN,employee,2.0,0.0,1.0,0.0
470,x<0,6.0,NaN,education,448.0,NaN,x<1,4.0,NaN,none,...,building_society,NaN,none,own,1.0,employee,NaN,NaN,1.0,NaN
755,NaN,NaN,critical_account,car_new,NaN,x<100,1<=x<4,1.0,male_single,none,...,NaN,74.0,none,own,3.0,unemployed_non-resident,2.0,NaN,0.0,1.0
211,x<0,27.0,NaN,NaN,5293.0,NaN,unemployed,NaN,male_single,none,...,NaN,50.0,stores,own,NaN,NaN,1.0,1.0,1.0,0.0
457,x<0,6.0,NaN,domestic_appliances,NaN,NaN,x<1,4.0,female_divorced,none,...,real_estate,27.0,none,NaN,NaN,employee,NaN,NaN,1.0,NaN
493,NaN,NaN,NaN,car_new,2122.0,x<100,1<=x<4,3.0,male_single,none,...,NaN,39.0,NaN,rent,NaN,unemployed_resident,2.0,NaN,0.0,1.0
918,x<0,24.0,NaN,furniture/equipment,NaN,NaN,NaN,4.0,male_single,none,...,building_society,39.0,none,NaN,1.0,high_function,1.0,1.0,1.0,NaN
892,0<=x<200,36.0,critical_account,NaN,NaN,NaN,NaN,3.0,male_single,none,...,NaN,34.0,NaN,NaN,2.0,NaN,1.0,1.0,1.0,NaN
708,0<=x<200,NaN,credits_paid_till_now,radio/television,2118.0,x<100,NaN,2.0,male_single,none,...,real_estate,37.0,none,own,1.0,unemployed_resident,2.0,NaN,1.0,NaN
187,NaN,12.0,credits_paid_till_now,radio/television,674.0,NaN,NaN,NaN,male_married,NaN,...,NaN,20.0,none,own,1.0,employee,1.0,0.0,1.0,0.0
2,x<0,42.0,credits_paid_till_now,furniture/equipment,7882.0,x<100,NaN,2.0,male_single,guarantor,...,building_society,45.0,NaN,free,1.0,NaN,2.0,0.0,1.0,1.0
82,x<0,24.0,credits_paid_till_now,others,1755.0,NaN,NaN,4.0,NaN,guarantor,...,real_estate,NaN,NaN,own,1.0,unemployed_resident,1.0,1.0,1.0,1.0
744,NaN,13.0,NaN,business,1797.0,x<100,x<1,3.0,male_single,NaN,...,building_society,28.0,bank,own,2.0,unemployed_resident,1.0,0.0,1.0,1.0
343,NaN,10.0,credits_paid_till_now,car_new,3949.0,x<100,NaN,1.0,male_single,guarantor,...,building_society,37.0,none,NaN,1.0,unemployed_resident,NaN,0.0,NaN,1.0
368,0<=x<200,18.0,NaN,furniture/equipment,NaN,x<100,NaN,2.0,female_divorced,none,...,real_estate,40.0,none,NaN,1.0,employee,NaN,NaN,NaN,1.0
720,NaN,NaN,all_credits_paid,education,433.0,NaN,NaN,4.0,female_divorced,NaN,...,NaN,24.0,NaN,rent,1.0,NaN,2.0,0.0,NaN,0.0
22,0<=x<200,12.0,NaN,car_used,NaN,100<=x<500,NaN,3.0,male_single,none,...,NaN,NaN,none,own,1.0,employee,1.0,0.0,1.0,1.0
473,0<=x<200,18.0,critical_account,radio/television,1245.0,NaN,1<=x<4,NaN,male_married,none,...,NaN,NaN,NaN,own,NaN,NaN,NaN,0.0,NaN,0.0
648,x<0,12.0,credits_paid_till_now,NaN,684.0,x<100,1<=x<4,NaN,male_single,NaN,...,car_or_other,40.0,none,NaN,NaN,NaN,2.0,0.0,NaN,0.0
424,NaN,18.0,credits_paid_till_now,NaN,2779.0,x<100,1<=x<4,NaN,NaN,none,...,NaN,21.0,none,NaN,NaN,employee,NaN,1.0,1.0,NaN
985,x>200,NaN,NaN,business,NaN,x<100,x<1,NaN,NaN,none,...,building_society,33.0,NaN,own,NaN,employee,1.0,0.0,1.0,1.0
478,NaN,15.0,critical_account,furniture/equipment,1478.0,NaN,x>=7,NaN,NaN,none,...,NaN,44.0,none,NaN,2.0,employee,NaN,1.0,NaN,1.0
523,NaN,18.0,NaN,radio/television,NaN,x<100,1<=x<4,NaN,NaN,NaN,...,NaN,26.0,none,own,1.0,unemployed_resident,2.0,0.0,1.0,1.0
358,x<0,30.0,credits_paid_till_now,NaN,2406.0,x<100,4<=x<7,4.0,NaN,none,...,real_estate,23.0,none,rent,1.0,NaN,1.0,0.0,1.0,NaN
830,x<0,18.0,credits_paid_till_now,car_new,NaN,x<100,x<1,4.0,female_divorced,NaN,...,car_or_other,23.0,none,rent,NaN,employee,1.0,1.0,1.0,0.0
809,NaN,8.0,NaN,business,907.0,x<100,NaN,NaN,male_married,none,...,real_estate,NaN,none,own,1.0,NaN,NaN,NaN,1.0,1.0
366,x<0,18.0,credits_paid_till_now,furniture/equipment,3650.0,x<100,NaN,1.0,NaN,none,...,car_or_other,22.0,none,rent,NaN,NaN,NaN,0.0,1.0,1.0
166,0<=x<200,11.0,credits_paid_till_now,furniture/equipment,1577.0,x>=1000,x<1,NaN,NaN,none,...,NaN,20.0,none,NaN,1.0,employee,1.0,NaN,1.0,1.0
965,0<=x<200,27.0,critical_account,radio/television,2520.0,NaN,1<=x<4,4.0,NaN,NaN,...,building_society,23.0,none,own,2.0,unemployed_resident,1.0,0.0,1.0,0.0
833,x>200,15.0,credits_paid_till_now,radio/television,2327.0,x<100,x<1,NaN,NaN,none,...,real_estate,NaN,NaN,own,NaN,NaN,NaN,0.0,NaN,NaN
318,x<0,NaN,delay_in_earlier_payments,furniture/equipment,3643.0,NaN,x>=7,1.0,NaN,NaN,...,NaN,27.0,none,own,2.0,unemployed_resident,1.0,NaN,1.0,1.0
27,0<=x<200,7.0,credits_paid_till_now,NaN,2415.0,NaN,1<=x<4,3.0,male_single,guarantor,...,NaN,34.0,NaN,own,NaN,employee,1.0,NaN,1.0,1.0
200,x<0,NaN,credits_paid_till_now,NaN,1168.0,x<100,1<=x<4,4.0,male_married,NaN,...,NaN,NaN,none,NaN,1.0,unemployed_resident,NaN,0.0,NaN,1.0
126,0<=x<200,12.0,credits_paid_till_now,repairs,NaN,x<100,1<=x<4,NaN,male_single,none,...,car_or_other,NaN,none,NaN,1.0,employee,1.0,0.0,1.0,0.0
834,x<0,12.0,None,NaN,NaN,x<100,1<=x<4,4.0,NaN,NaN,...,car_or_other,48.0,NaN,NaN,2.0,employee,1.0,0.0,1.0,0.0
629,x<0,24.0,credits_paid_till_now,radio/television,NaN,x<100,1<=x<4,2.0,NaN,none,...,car_or_other,NaN,none,NaN,1.0,NaN,1.0,0.0,1.0,1.0
639,x<0,18.0,credits_paid_till_now,education,NaN,x<100,NaN,NaN,female_divorced,none,...,NaN,27.0,NaN,own,1.0,NaN,NaN,0.0,1.0,0.0

In [20]:
#After Imputation
test_set_imputed = completed_df.tail(50)
test_set_imputed

,Status_existing_account,Month,Credit_history,Purpose,Credit_amount,Savings,Employment_since_years,Installment_rate_percentage,Gender_and_relationship_status,Other_debtors,...,Property,Age,Other_installment_plans,Housing,Number_of_existing_credits,Job,Number_of_liable_people,Registered_telephone,Foreign_worker,Credit_accepted
382,0<=x<200,24.000000,credits_paid_till_now,car_new,1246.000000,x<100,x<1,4.0,male_single,none,...,real_estate,23.000000,stores,own,2.0,unemployed_resident,1.0,0.0,1.0,0.0
383,0<=x<200,46.208943,critical_account,furniture/equipment,4736.000000,x<100,x<1,2.0,male_single,none,...,car_or_other,25.000000,bank,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
384,x<0,12.000000,credits_paid_till_now,radio/television,1680.000000,x<100,x>=7,3.0,male_single,none,...,real_estate,35.000000,none,own,1.0,employee,1.0,0.0,1.0,1.0
385,0<=x<200,24.578357,credits_paid_till_now,business,5129.057692,x<100,4<=x<7,3.0,male_single,none,...,real_estate,22.715346,none,own,1.0,unemployed_resident,1.0,0.0,1.0,0.0
386,x<0,13.106136,credits_paid_till_now,radio/television,2647.000000,100<=x<500,1<=x<4,2.0,male_single,none,...,building_society,28.005292,none,rent,1.0,employee,2.0,0.0,1.0,1.0
387,x<0,12.000000,None,business,6199.000000,x<100,1<=x<4,4.0,male_single,none,...,building_society,28.000000,none,rent,2.0,employee,1.0,0.0,1.0,0.0
388,0<=x<200,15.000000,credits_paid_till_now,repairs,5269.796400,x<100,1<=x<4,2.0,female_divorced,none,...,real_estate,29.470417,none,rent,2.0,employee,1.0,0.0,1.0,0.0
389,x<0,18.000000,credits_paid_till_now,business,3104.000000,x<100,4<=x<7,3.0,male_single,none,...,car_or_other,31.000000,bank,own,1.0,employee,1.0,1.0,1.0,1.0
390,0<=x<200,18.000000,credits_paid_till_now,radio/television,866.000000,x<100,1<=x<4,4.0,male_single,guarantor,...,real_estate,25.000000,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
391,0<=x<200,18.000000,credits_paid_till_now,others,2473.000000,x<100,x<1,4.0,male_single,none,...,car_or_other,48.846588,none,own,1.0,unemployed_non-resident,1.0,0.0,1.0,0.0
392,x>200,18.000000,critical_account,radio/television,2100.000000,x<100,x<1,4.0,male_single,none,...,real_estate,37.000000,stores,own,1.0,employee,1.0,0.0,1.0,1.0
393,0<=x<200,8.000000,critical_account,others,760.000000,x<100,4<=x<7,4.0,male_single,guarantor,...,real_estate,44.000000,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
394,0<=x<200,24.000000,delay_in_earlier_payments,others,6048.880298,x<100,x<1,4.0,male_single,none,...,car_or_other,33.000000,none,own,1.0,employee,1.0,0.0,1.0,1.0
395,x<0,24.000000,delay_in_earlier_payments,car_new,1333.000000,x<100,4<=x<7,3.0,female_divorced,none,...,real_estate,43.000000,none,own,1.0,employee,2.0,0.0,1.0,0.0
396,x<0,6.000000,credits_paid_till_now,education,448.000000,x<100,x<1,4.0,female_divorced,none,...,building_society,25.363528,none,own,1.0,employee,1.0,0.0,1.0,0.0
397,x<0,11.549712,critical_account,car_new,1820.564975,x<100,1<=x<4,1.0,male_single,none,...,real_estate,74.000000,none,own,3.0,unemployed_non-resident,2.0,0.0,0.0,1.0
398,x<0,27.000000,credits_paid_till_now,furniture/equipment,5293.000000,x<100,unemployed,4.0,male_single,none,...,real_estate,50.000000,stores,own,1.0,employee,1.0,1.0,1.0,0.0
399,x<0,6.000000,credits_paid_till_now,domestic_appliances,2757.471376,x<100,x<1,4.0,female_divorced,none,...,real_estate,27.000000,none,own,1.0,employee,1.0,0.0,1.0,1.0
400,0<=x<200,31.763626,credits_paid_till_now,car_new,2122.000000,x<100,1<=x<4,3.0,male_single,none,...,car_or_other,39.000000,none,rent,1.0,unemployed_resident,2.0,1.0,0.0,1.0
401,x<0,24.000000,credits_paid_till_now,furniture/equipment,2448.596349,x<100,1<=x<4,4.0,male_single,none,...,building_society,39.000000,none,own,1.0,high_function,1.0,1.0,1.0,1.0
402,0<=x<200,36.000000,critical_account,radio/television,4908.940323,x<100,4<=x<7,3.0,male_single,none,...,car_or_other,34.000000,none,own,2.0,employee,1.0,1.0,1.0,1.0
403,0<=x<200,14.464363,credits_paid_till_now,radio/television,2118.000000,x<100,4<=x<7,2.0,male_single,none,...,real_estate,37.000000,none,own,1.0,unemployed_resident,2.0,0.0,1.0,1.0
404,0<=x<200,12.000000,credits_paid_till_now,radio/television,674.000000,100<=x<500,1<=x<4,4.0,male_married,none,...,car_or_other,20.000000,none,own,1.0,employee,1.0,0.0,1.0,0.0
405,x<0,42.000000,credits_paid_till_now,furniture/equipment,7882.000000,x<100,4<=x<7,2.0,male_single,guarantor,...,building_society,45.000000,none,free,1.0,employee,2.0,0.0,1.0,1.0
406,x<0,24.000000,credits_paid_till_now,others,1755.000000,x<100,1<=x<4,4.0,male_single,guarantor,...,real_estate,19.688706,none,own,1.0,unemployed_resident,1.0,1.0,1.0,1.0
407,x<0,13.000000,credits_paid_till_now,business,1797.000000,x<100,x<1,3.0,male_single,none,...,building_society,28.000000,bank,own,2.0,unemployed_resident,1.0,0.0,1.0,1.0
408,x<0,10.000000,credits_paid_till_now,car_new,3949.000000,x<100,1<=x<4,1.0,male_single,guarantor,...,building_society,37.000000,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
409,0<=x<200,18.000000,credits_paid_till_now,furniture/equipment,2271.699352,x<100,1<=x<4,2.0,female_divorced,none,...,real_estate,40.000000,none,own,1.0,employee,2.0,1.0,1.0,1.0
410,0<=x<200,19.540044,all_credits_paid,education,433.000000,x<100,1<=x<4,4.0,female_divorced,none,...,real_estate,24.000000,bank,rent,1.0,employee,2.0,0.0,1.0,0.0
411,0<=x<200,12.000000,credits_paid_till_now,car_used,3602.713955,100<=x<500,x<1,3.0,male_single,none,...,car_or_other,22.659746,none,own,1.0,employee,1.0,0.0,1.0,1.0
412,0<=x<200,18.000000,critical_account,radio/television,1245.000000,x<100,1<=x<4,2.0,male_married,none,...,building_society,20.213243,none,own,2.0,employee,1.0,0.0,1.0,0.0
413,x<0,12.000000,credits_paid_till_now,others,684.000000,x<100,1<=x<4,2.0,male_single,none,...,car_or_other,40.000000,none,own,2.0,employee,2.0,0.0,1.0,0.0
414,x<0,18.000000,credits_paid_till_now,others,2779.000000,x<100,1<=x<4,4.0,male_single,none,...,real_estate,21.000000,none,own,1.0,employee,1.0,1.0,1.0,1.0
415,x>200,55.158553,credits_paid_till_now,business,9866.770343,x<100,x<1,1.0,male_single,none,...,building_society,33.000000,none,own,2.0,employee,1.0,0.0,1.0,1.0
416,x<0,15.000000,critical_account,furniture/equipment,1478.000000,x<100,x>=7,3.0,male_single,none,...,building_society,44.000000,none,own,2.0,employee,1.0,1.0,1.0,1.0
417,0<=x<200,18.000000,credits_paid_till_now,radio/television,276.000000,x<100,1<=x<4,2.0,male_single,none,...,real_estate,26.000000,none,own,1.0,unemployed_resident,2.0,0.0,1.0,1.0
418,x<0,30.000000,credits_paid_till_now,others,2406.000000,x<100,4<=x<7,4.0,male_single,none,...,real_estate,23.000000,none,rent,1.0,unemployed_non-resident,1.0,0.0,1.0,0.0
419,x<0,18.000000,credits_paid_till_now,car_new,8422.837445,x<100,x<1,4.0,female_divorced,none,...,car_or_other,23.000000,none,rent,1.0,employee,1.0,1.0,1.0,0.0
420,x<0,8.000000,critical_account,business,907.000000,x<100,1<=x<4,4.0,male_married,none,...,real_estate,19.000000,none,own,1.0,employee,1.0,0.0,1.0,1.0
421,x<0,18.000000,credits_paid_till_now,furniture/equipment,3650.000000,x<100,x<1,1.0,female_divorced,none,...,car_or_other,22.000000,none,rent,2.0,employee,1.0,0.0,1.0,1.0
422,0<=x<200,11.000000,credits_paid_till_now,furniture/equipment,1577.000000,x>=1000,x<1,3.0,male_single,none,...,real_estate,20.000000,none,own,1.0,employee,1.0,0.0,1.0,1.0
423,0<=x<200,27.000000,critical_account,radio/television,2520.000000,x<100,1<=x<4,4.0,male_single,none,...,building_society,23.000000,none,own,2.0,unemployed_resident,1.0,0.0,1.0,0.0
424,x>200,15.000000,credits_paid_till_now,radio/television,2327.000000,x<100,x<1,3.0,male_single,none,...,real_estate,26.259730,none,own,1.0,employee,1.0,0.0,1.0,1.0
425,x<0,21.208642,delay_in_earlier_payments,furniture/equipment,3643.000000,x<100,x>=7,1.0,male_single,none,...,real_estate,27.000000,none,own,2.0,unemployed_resident,1.0,0.0,1.0,1.0
426,0<=x<200,7.000000,credits_paid_till_now,repairs,2415.000000,x<100,1<=x<4,3.0,male_single,guarantor,...,real_estate,34.000000,none,own,2.0,employee,1.0,0.0,1.0,1.0
427,x<0,55.506386,credits_paid_till_now,business,1168.000000,x<100,1<=x<4,4.0,male_married,none,...,car_or_other,32.128942,none,own,1.0,unemployed_resident,1.0,0.0,1.0,1.0
428,0<=x<200,12.000000,credits_paid_till_now,repairs,2251.049960,x<100,1<=x<4,2.0,male_single,none,...,car_or_other,20.807077,none,rent,1.0,employee,1.0,0.0,1.0,0.0
429,x<0,12.000000,None,others,3014.552255,x<100,1<=x<4,4.0,male_single,none,...,car_or_other,48.000000,none,own,2.0,employee,1.0,0.0,1.0,0.0
430,x<0,24.000000,credits_paid_till_now,radio/television,3743.721548,x<100,1<=x<4,2.0,male_single,none,...,car_or_other,22.800192,none,own,1.0,employee,1.0,0.0,1.0,1.0
431,x<0,18.000000,credits_paid_till_now,education,1907.406041,x<100,1<=x<4,4.0,female_divorced,none,...,real_estate,27.000000,bank,own,1.0,employee,1.0,0.0,1.0,0.0

In [22]:
#Evaluation of imputations
evaluate_imputations(train_set, test_set_complete, data_m, test_set_imputed, 0.01) #Prediction error

0.31791817472359524